@font-face {
	font-family: 'Bebas Neue Bold';
	src: url('../fonts/BebasNeueBold.eot');
	src: local('../fonts/Bebas Neue Bold'), local('../fonts/BebasNeueBold'),
		url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeueBold.woff') format('woff'),
		url('../fonts/BebasNeueBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
