// От 320px мобильная версия
.container {
  width: auto;
  padding: 0 10px;
  margin: 0 auto;
}

// От 660px планшетная версия
@media (min-width: #{$tablet-width}) {
	.container {
		width: auto;
		padding: 0 15px;
	}
}

// От 1200px декстопная версия
@media (min-width: #{$dekstop-width}) {
	.container {
    // width: 1170px;
    width: auto;
    padding: 0 20px;
	}
}

