$leonardo: #113b5f;
$brown: #201600;
$black: #262626;
$gray: #3b3b3b;
$white: #f8f8f8;
$green: #aacc3a;
$sky: #3abfef;
$radio: rgb(0, 180, 255);
$pink: #d22856;
$purple: #d22856;
$footer: #051524;
// Шрифты:
$font-exo: 'Exo 2', sans-serif;
$font-bebas: 'Bebas Neue Bold';
$font-proxima-lt: 'Proxima Nova Lt';
$font-proxima-bd: 'Proxima Nova Bold';
$font-proxima-rg: 'Proxima Nova Rg';
// Брейкпоинты:
$tablet-width: 660px;
$dekstop-width: 1200px;
